@tailwind base;
@tailwind components;
@tailwind utilities;
#app { height: 100% }
:root {
  --background:#F4F6FF;
  --primary: #10375C; /* Replace with your actual Tailwind primary color */
  --secondary:#EB8317;
}



